*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    pad: 0px;
    font-family: sans-serif;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: Courier;
    color: #31363F;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: relative;
    top: 0;
    background: #FFF3C7;
    border-bottom: 1px solid #31363F;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: overline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 60px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi{
    font-size: 30px;
    font-weight: bold;
    font-family: comic 'comic sans ms';
}

h2{
    font-size: 50px;
    font-weight: 800;
    font-family: comic 'comic sans ms';
    margin-bottom: 20px;
    color: #31363F;
    line-height: 45px;
}

a.tbl-biru{
    background-color: #135D66;
    border-radius: 20px;
    margin: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover{
    background: #E59BE9;
    text-decoration: none;
}

a.tbl-pink{
    background-color: #E59BE9;
    border-radius: 20px;
    margin: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover{
    background: #135D66;
    text-decoration: none;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah{
    text-align: center;
    width: 100%;
}